# ignore __pycache__ files
__pycache__/
oursite/__pycache__/*
*.pyc
get-pip.py
local_settings.py


# ignore virtual environment
myvenv/

# ignore geckodriver.log
geckodriver.log

# ignore image folder
images/
